<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs401">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".menu.gui.order.modify.ModifyOrderDescriptionActivity"
            android:parentActivityName=".menu.gui.order.ModifyOrderActivity"/>
        <activity
            android:name=".menu.gui.order.modify.ModifyOrderInvoiceActivity"
            android:parentActivityName=".menu.gui.order.ModifyOrderActivity"/>
        <activity
            android:name=".menu.gui.order.modify.ModifyOrderQuantityActivity"
            android:parentActivityName=".menu.gui.order.ModifyOrderActivity"/>
        <activity
            android:name=".menu.gui.order.modify.ModifyOrderCostActivity"
            android:parentActivityName=".menu.gui.order.ModifyOrderActivity"/>
        <activity
            android:name=".menu.gui.order.modify.ModifyOrderNameActivity"
            android:parentActivityName=".menu.gui.order.ModifyOrderActivity"/>
        <activity
            android:name=".menu.gui.order.DeleteOrderActivity"
            android:label="@string/title_activity_delete_order"
            android:parentActivityName=".menu.gui.customer.ModifyCustomerActivity" />
        <activity
            android:name=".menu.gui.order.ModifyOrderActivity"
            android:label="@string/title_activity_modify_order"
            android:parentActivityName=".menu.gui.customer.ModifyCustomerActivity" />
        <activity
            android:name=".menu.gui.order.AddOrderActivity"
            android:label="@string/title_activity_add_order"
            android:parentActivityName=".menu.gui.customer.ModifyCustomerActivity" />
        <activity
            android:name=".menu.gui.customer.modify.ModifyCustomerAddressActivity"
            android:label="@string/title_activity_modify_customer_address"
            android:parentActivityName=".menu.gui.customer.ModifyCustomerActivity" />
        <activity
            android:name=".menu.gui.customer.modify.ModifyCustomerNameActivity"
            android:label="@string/title_activity_modify_customer_name"
            android:parentActivityName=".menu.gui.customer.ModifyCustomerActivity" />
        <activity
            android:name=".menu.gui.customer.ModifyCustomerActivity"
            android:label="@string/title_activity_modify_customer"
            android:parentActivityName=".menu.gui.MenuActivity" />
        <activity
            android:name=".menu.gui.customer.DisplayCustomerActivity"
            android:label="@string/title_activity_display_customer"
            android:parentActivityName=".menu.gui.MenuActivity" />
        <activity
            android:name=".menu.gui.customer.DeleteCustomerActivity"
            android:label="@string/title_activity_delete_customer"
            android:parentActivityName=".menu.gui.MenuActivity" />
        <activity
            android:name=".menu.gui.customer.AddCustomerActivity"
            android:label="@string/title_activity_add_customer"
            android:parentActivityName=".menu.gui.MenuActivity" />
        <activity android:name=".menu.gui.Customer_Activity" />
        <activity android:name=".LoginAndDataBase.LoginGUI.RegisterActivity"
                  android:label="Registration"/>
        <activity android:name=".LoginAndDataBase.LoginGUI.LoginActivity"
                  android:label="Login">
            <!--uncomment to make the login activity the main one-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu.gui.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <!--uncomment to make the menu activity the main one-->
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>